<!doctype html>
<html>
<head>
    <title>Pantry Fixins</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<ul class="menu menu-hover-lines">
  <li class="active"><a href="../../index.pug">Home</a></li>
  <li><a href="profile.html">Profile</a></li>
  <li><a href="user.html">Ingredient Lists</a></li>
  <li><a href="create.html">Create a Recipe</a></li>
  <li><a href="recipe.html">Saved Recipes</a></li>
</ul>

<div class="portfolio-resume-scrolling-container row">
  <div class="columns small-12 medium-5 portfolio-resume-overview">
    <div class="portfolio-resume-overview-content">
      <h3 class="portfolio-resume-name">Pantry Fixins</h3>
      <p>Login or Register With: </p>


        <a href="/login" class="success button"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="success button"><span class="fa fa-user"></span> Local Signup</a>
    </div>

</div>
</body>
</html>