doctype html  
html(lang='en')  
 head
   title Recipe
 body
  //-  h1 Here is the recipe
  //-  .container
  //-    p list image here

#recipes
  ul.menu.menu-hover-lines
    li My Pantry
    li Create a recipe
    li Saved Recipes
    li Make a Recipe Now

  //- #recipeImage.portfolio-resume-scrolling-conatiner.row
  //-   .columns.small-13.medium-5.portfolio-resume-overview
  //-     .portfolio-resume-overview-content
  //-       p#recipeTitle Insert Recipe Title Here

    br
    br

  .basic-card
    .basic-card-image
      h2 Insert Recipe Image Here
      h2 Insert Recipe Title Here
    
    .basic-card-content.content.callout.secondary
      h5 Ingredients
      ul
        li Insert Ingredients here

    .basic-card-content.content.callout.secondary
      h5 Instructions
      ul
        li Insert Instructions here
      
    



append scripts  
   script(src='../js/recipePage.js')