doctype html  
html(lang='en')  
  head
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <link rel="stylesheet" href="../css/foundation.css">
  <link rel="stylesheet" href="../css/app.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="../css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
  
    title Recipe
  body#recipes

  ul.menu.menu-hover-lines
    li
      a My Pantry
    li 
      a Create a recipe
    li 
      a Prepare a Recipe

  br
  br

  .basic-card
    .basic-card-image
      img.image(src=image_url )
      h2=title
    
    .basic-card-content.content.callout.secondary
      h5 Ingredients
      ul
        each val in ingredients
          li=val.quantity
            | &nbsp;
            | &nbsp;
            =val.ingredient

    .basic-card-content.content.callout.secondary
      h5 Instructions
      ul
        each val in instructions
          li=val
      
    



append scripts  
  script(src='../js/recipePage.js')
  script(src="../js/vendor/foundation.js")
  script(src="../js/app.js")
  //- script(src="../../js/recipe.js")