#index {
  background-color: #A0A0A0;
  opacity: 0.6;
}

.video-background { 
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
}

#pantryTitle {
  font-family: 'Homemade Apple', cursive;
  font-size: 88px;
  text-align: center;
  color: #000000;
  opacity: 0.9;
}

#logo {
  opacity: 0.9;
  border: 2px solid black;
  margin-top: 5%;
}

#homeCook {
  font-family: 'Homemade Apple', cursive;
  font-size: 28px;
  text-align: center;
  color: #990000;
  border-bottom: 1px solid #404040;
  padding-bottom: 20px;
}

#signupBtn, #loginBtn {
  font-size: 16px;
  color: #000000;
}

#buttons {
  position: absolute;
  top: 2px;
  right: 10px;
}

#signupBtn:hover, #loginBtn:hover {
  color: white;
}

/*Login and SignUp */

#login, #signup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/Recipe-book2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
  background-color: #A0A0A0;
}

#loginContainer, #signupContainer {
  margin-top: 3%;
  background-color:#F2F0F0;
  width: 40%;
  border: 2px solid gray;
}

#loginSubmitBtn, #signupSubmitBtn {
  background-color: #990000;
}

#getCooking {
  font-family: 'Homemade Apple', cursive;
  margin-left: 22%;
  margin-top: 9%;
}

/* User */

.callout {
  background: #E0E0E0;
  font-family: 'Homemade Apple', cursive;
  border-radius: 4px;
  font-size: 20px;
}

.callout:hover { 
  background-color: white;
}

#userImage {
  background-image: url(../images/spices.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} 

#user {
  background-color:	#A0A0A0;
  opacity: 0.8;
}

#userTitle {
  font-family: 'Homemade Apple', cursive;
  font-size: 86px;
  margin-right: 5%;
  background: rgba(224, 224, 224, 0.3);
  border: 1.5px solid black;
  border-radius: 10px;
}

label {
  font-weight: bold;
}

#addToPantry {
  border-radius: 4px;
  background-color: #98a52a;
  border: 1px solid black;
  border-radius: 4px;
  font-weight: bold;
}

#pantryIngredients {
  font-family: 'Homemade Apple', cursive;
  margin-left: 5%;
  font-size: 48px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-decoration: underline;
  /* background: #E0E0E0;
  border: 1px solid black; */
} 
  background: rgba(255, 229, 204, 0.3);
  border: 1px solid black;
}

#itemTitle {
  font-family: 'Lobster', cursive;
  padding-top: 10px;
  font-size: 20px;
}

#item, #quantity {
  border-radius: 4px;
}

#enterIng, #enterQty {
  background: rgba(224, 224, 224, 0.3);
  border-radius: 4px;
}

/* Create Recipe*/

#create, #make {
  background-color: #A0A0A0;
}

#createRecipe {
  width: 80%;
  padding: 40px;
  margin: auto;
}

#createTitle {
  font-family: 'Homemade Apple', cursive;
  font-size: 86px;
  margin-right: 5%;
  background: white;
  border: 1.5px solid black;
  border-radius: 10px;
  opacity: 0.7;
}

#createheading {
  font-family: 'Homemade Apple', cursive;
  margin-left: 3%;
  font-size: 48px;
  padding-bottom: 20px;
  padding-top: 5px;
  text-decoration: underline;
}

.formTitles {
  font-family: 'Homemade Apple', cursive;
  font-size: 22px;
}

#ingredientsForRecipe, #instructionInput, #recipeName, #recipeImage, #ingredientQuantity {
  background: #E0E0E0;
  border-radius: 4px;
}

#infoSubmitBtn, #ingredientSubmitBtn, #instructionSubmitBtn, #finalizeRecipe {
  border-radius: 4px;
  background-color: #6883aa;
  border: 1px solid #39628e;
  border-radius: 4px;
}

#ingredAdded, #instructAdded, #recipeTitle, #recipePic, #ingredientsDiv {
  background: #E0E0E0;
  border-radius: 4px;
  overflow-x: hidden;
}

#createImage, #makeImage {
  background-image: url(../images/recipe-book.jpg);  
  background-repeat: no-repeat;
  background-size: cover;
}

/*Recipes*/

#recipes {
  background-color: #A0A0A0;
}

#recipesImage {
  background-image: url(../images/recipe-book3.jpg);  
  background-repeat: no-repeat;
  background-size: cover;
}

#recipeNowDiv {
  background-color: #A0A0A0;
  padding: 50px;
  margin-left: 50px;
  margin-right: 50px;

}

.recipeDiv{
  display: inline-block;
  width: 200px;
  height: 130px;
  margin: 10px;
  text-align: center;
}

#imgRecipe {
   border: 3px solid white;
   border-radius: 10px;
   width: 75%;
   height: 75%;
}
