<!doctype html>
<html>
<head>
    <title>Pantry Fixins</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
    <title>Welcome to Pantry Fixins</title>
</head>
<body id="index">


<video id="videoLoop" class="video-background" autoplay muted type="video/mov"></video>

<br>

<div id="buttons">
  <a href="/login" id="loginBtn"><span class="fa fa-user"></span> Login</a>  |  
  <a href="/signup" id="signupBtn"><span class="fa fa-user"></span> Signup</a>
</div>
    
  <center><img id="logo" src="media/spoon_fork_knife.jpg"></img></center>

  <br>
  <br>

  <center><p id="homeCook">home-cooking inspiration</p></center>

  <br>

  <center><h1 id="pantryTitle">PantryFixins</h1></center>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="./js/video.js"></script>

</body>
</html>